@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

// 공통 전역 스타일
:root {
    --mainColor: #95C674;
    --mainHover: #7DAA5E;
    --entirePadding: 9.375%;

    --darkText:#333333;
    --semiDarkText:#767676;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;

    font-family: 'pretendard';
    font-weight: 500;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: 'pretendard' !important;
    line-height: 1.4;
    letter-spacing: -0.025rem;
}

.card {
    padding: 2em;
}

#app {
    text-align: center;
}

// Pagination
.pagination button {
    cursor: pointer;
}
.pagination li.v-pagination__item {
    border-radius: 4px;
    font-size: 0.8rem;
}
.pagination li.v-pagination__item--is-active {
    background-color: var(--mainColor);
    color: white;
}
.pagination li.v-pagination__item:not(li.v-pagination__item--is-active):hover {
    background-color: #f9f9f9;
}

.pagination li.v-pagination__item .v-btn__content {
    font-size: 0.8rem;
}
.v-btn--variant-text .v-btn__overlay {
    background-color: transparent !important;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }
}