.container {
    max-width: 1560px;
    margin: auto;
    padding: 120px var(--entirePadding);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom:24px;
}

/* 전체 부원 수 */
.left-header {
    flex: 1;
    display: flex;
    align-items: center;
}

.left-header .total-count {
    font-size: 28px;
    font-weight: 600;
}

.left-header span {
    color: var(--mainColor);
}

/* 우측 유틸 컨테이너 */
.right-header {
    display: flex;
    gap: 20px;
}

.sync-button-area {
    display: flex;
    align-items: center;
    gap: 12px;
    width: fit-content;

    background-color: var(--mainColor);
    border:1px solid var(--mainColor);
    
    padding: 12px 24px 12px 20px;
    border-radius: 999px;
    cursor: pointer;
}

    .sync-button-area > img {
        width: 20px;
        height: auto;
    }

    .sync-button-area > button {
        color: white;
        font-size: 14px;
        font-weight: 600;

        background-color: transparent;
        border: none;
    }

.search-input-area {
    display: flex;
    align-items: center;
    gap: 12px;
    width: fit-content;

    border: 1px solid #ccc;
    padding: 12px 24px 12px 20px;
    border-radius: 999px;
    min-width: 300px;
}

    .search-input-area > img {
        width: 20px;
        height: auto;
    }

    .search-input-area > input {
        border:none;
        font-size: 14px;
        width: 100%;
    }

    .search-input-area > input:focus {
        outline: none;
    }

    .search-input-area > input::placeholder {
        color: #767676;
    }

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th,
.table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.filter-header {
    position: relative;
}

.filter-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    font-size: 14px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 10;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100px;
    max-height: 150px; /* 최대 높이 설정 */
    overflow-y: auto; /* 스크롤 추가 */
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.dropdown-menu li:hover {
    background-color: #f5f5f5;
}

.reset {
    color: red;
}

.button-group {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.left-buttons {
    display: flex;
    gap: 10px;
}

.right-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    background-color: #515151;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-outline {
    border: 1px solid #515151;
    color: #515151;
    padding: 10px 20px;
    border-radius: 4px;
    background: white;
    cursor: pointer;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
